.wrapper {
	height: 100vh;
	/* background: radial-gradient(rgba(119, 119, 119, .5), rgba(0, 100, 0, .7), rgba(0, 0, 100, .9)), url("../../assets/textur.jpg"); */
	background-image: url("../../assets/textur.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: #fff;
	height: 100vh;
	padding-top: 50px;
	margin: auto;
}

.center-content {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

.margin {
	margin-top: 2rem;
	margin-bottom: 5rem;
}