.AppGame {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.loaderWrapper{
  position: absolute;
  display: block;
  height: 100px;
  width: 100%;
  z-index: 999;
  top: -30px;
}
.loader{
  display: inline-block;
  color: white;
  animation: titleButtonLight 0.9s infinite;
  text-shadow: 2px 2px 2px rgba(0,0,0, 1);
  padding: 10px;
  border-radius: 10px;
}




@media only screen and (max-device-width: 480px) {

  .AppGame {
    height: 100vh;
  }

}
