.gameBoard,
.gameBoard_complete {
  height: 80vh;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  position: relative;
}

.cardsWrapper {
  margin: auto;
  max-width: 550px;
}

.gameBoardBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.cardsWrapper,
.gameBoardBack {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 3s;
}

.gameBoard_complete .cardsWrapper {
  -webkit-transform: rotateY(-720deg);
  transform: rotateY(-720deg);
}

@media only screen and (max-device-width: 480px) {
  .gameBoard {
    height: 80vh;
  }
}
